@page
@model TwitterClone.Pages.IndexPage

@if (User.Identity.IsAuthenticated)
{
    <p>Post new tweet:</p>
    <form method="POST">
        <input asp-for="NewTweetBody" />
        <input asp-page-handler="Tweet" type="submit" />
    </form>
}

<ul>
    @foreach (var tweet in Model.Tweets)
    {
        <li>
            <p>@tweet.Body</p>
            <p>@tweet.Author.EmailAddress</p>
            <a asp-page="Tweet" asp-route-id="@tweet.Id">@tweet.Timestamp</a>
        </li>
    }
</ul>