@page
@model TwitterClone.Pages.LoginPage

<form method="POST">
    <label asp-for="EmailAddress"></label>
    <input asp-for="EmailAddress" />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <input type="submit" />
</form>